%alert{
	padding: 15px;

	@include border-radius(3px);
	@include box-shadow(1px, 1px, 3px, $shadow-color);

	p{
		margin: 0;
	}
}

.alert{
	@extend %alert;
}

.overlay, 
.ajaxSucc,
.ajaxSuccRec,
.ajaxError{
	display:none;
}

/*
----
Status Message
----
*/
.overlay{
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-color:black;
	@include opacity(0.8);	
}

.statusBox{
    width:100%;
    position:fixed!important;
    top:50%!important;
    z-index:9999;
    text-align:center;
    transform: translateY(-50%);
}

.statusMessage{
    display:inline-block;
    width:auto;
    margin:0 auto;
    font-size:1em;
    text-align:center;
    padding: 1.2em 5.12em;
    @include border-radius(10px);
    position:relative;
}

.flash-success{
    background:#D4FECC;
    border:2px solid #A4DA9C;
    color:#4D7944;
}

.flash-error{
    background:#FED2D3;
    border:2px solid #DB8F9C;
    color:#8B2530;
}


.closeBtn{
    position:absolute;
    top:5px;
    right:5px;   
    padding:1px;
    font-size:0.7em;
}

.flash-success .closeBtn{
    border:2px solid #4D7944;
    color: #4D7944;
}

.flash-success .closeBtn:hover{
    border:2px solid #4D7944;
    color: #D4FECC;
    background-color: #4D7944;
    cursor:pointer;
}

.flash-error .closeBtn{
    border:2px solid #8B2530;
    color: #8B2530;
}

.flash-error .closeBtn:hover{
    border:2px solid #8B2530;
    color: #FED2D3;
    background-color: #8B2530;
    cursor:pointer;
}

/*BOOTSTRAP EQUIVALENT*/
/*field error*/
/*.help-block{
    background-color: $error-message;
    padding:10px;
}*/