/*TOP BUTTONS*/
a.topBtn{
	display:block;
	height:5em;
	text-decoration:none;
	color: $text-color;

	background-color:$topBtn-bg-color;
	border:1px solid $topBtn-border-color;
	margin-top:15px;

	.btnEl{
		position: relative;
		top: 50%;
		@include translate(0,-50%);

		div{
			display:block;
			text-align:center;			
		}

		.glyphicon{
			font-size:1.3em;
		}

		.bButtonTitle{
			padding-top:15px;
		}
	}

	&:hover{
		background-color:$topBtn-bg-active-color!important;
	}	
}

.deleteBtn, .createUserBtn{
	margin-bottom:15px;
	
	*{
		padding:0!important;
		font-size:1em!important;
	}
	

}

.clearBtn{
	display:inline-block;
	margin-bottom:15px;
	float:right;
}

.partRemove{
	position:relative;
	
	div{
		position:absolute;
		top:50%;
		left:50%;
		@include translate(-50%,-50%);
		color:$danger-btn;

		&:hover{
			color:$danger-btn-hover;
			cursor:pointer;
		}
	}
}