.repairFields{
	margin:0!important;

	.sectionTitle{
		padding-left: 0!important;
	}

	form{

		.required label:after{
			content:"*";
			width:10px;
			height:10%;
		}

		.form-control{
			border-radius: 0!important;
		}

		div{
			/*padding-left: 0!important;*/
			padding-bottom:0.3em;

			label{
				font-size:1em;
				color:$text-color;
				/*font-weight:bold;*/
				/*font-style:italic;*/
				font-weight:normal;
			}

			.checkboxList{
				label{
					font-weight:normal!important;
					font-style:normal!important;
					font-size:0.9em;
				}
			}

			input:not(.newClient), select, textarea{
				background-color:$topBtn-bg-active-color;
			}

			
		}

		/*STATUS BUTTONS*/
		.statusButtons{
			margin-bottom:15px;
			.statusContainer{
				display:block;
				/*float:left;*/
				padding:5px;
				margin-right:5px;

				&:hover{
					cursor:pointer;
				}

				label{
					margin:0;
					display: inline-block;  
				    cursor: pointer;  
				    position: relative;  
				    padding-left: 25px;  
				    margin-right: 15px;  
				    font-size: 14px; 

					&:hover{
						cursor:pointer;
					}
				}

				label:before {  
				    content: "";  
				    display: inline-block;  
				  
				    width: 16px;  
				    height: 16px;  
				  
				    margin-right: 10px;  
				    position: absolute;  
				    left: 0;  
				    bottom: 1px;   
				    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);  
				    border-radius: 8px;  
				}

				label.status_1:before{
					background-color:#fff;			    		    			
	    		}

				label.status_2:before{
					background-color:$status1;			    		    			
	    		}

	    		label.status_3:before{
					background-color:$status2;			    		    			
	    		}

	    		label.status_4:before{
					background-color:$status3;			    		    			
	    		}

	    		label.status_5:before{
					background-color:$status4;			    		    			
	    		}

	    		label.status_6:before{
					background-color:$status5;			    		    			
	    		}
				

				input[type=radio] {  
				    display: none;  
				} 

				input[type=radio]:checked + label:before {  
				    content: "\2022";  
				    color: #000;  
				    font-size: 30px;  
				    text-align: center;  
				    line-height: 18px;  
				}  
			}
		}

		/*ACCESSORIES ERROR BOX*/
		.field-accessories-id_accessories > .help-block{
			display:none;
		}

		/*OTHER ACCESSORIES DESC*/
		.field-repairaccessory-otherdesc, .field-repairaccessory-otherdesc label{
			display:none;
		}

		.pageButtons{
			padding-top:15px;
			button{
				margin-right:30px;
			}
		}

		/*REPAIR TYPES*/
		.normalType, .warrantyType{
			margin-bottom:15px;
			.row{
				box-sizing: border-box;
				margin:0!important;
				background-color:$topBtn-bg-color;

				.maxBudget, .warranty_date{
					padding: 15px 15px 0!important;
				}

				.wantMaxBox{
					input{
						margin-right:10px;
					}
				}
			}

			&:before{
				content: "";
				position: absolute;
				top: -15px;
				left: 35px;
				border-style: solid;
				border-width: 0 15px 15px;
				border-color: $topBtn-bg-color transparent;
				display: block;
				width: 0;
				z-index: 0;
			}
			
			
		}

		.accessoriesListing{
			.required label{
				display:none;
			}

			padding-left:0!important;
			padding-right:0!important;
		}
	}

	.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
		background-color: #ddd !important;
		color: #aaa;
		font-style: italic;

	}
}