.repairsGrid, .partsInsert{
	.listHeader{
		background-color:$dark-blue-bg;
		color:white;

		a{
			color:white;
			font-weight:normal;
			font-size:0.87em;
		}	

		th{
			border:none!important;
			text-align:center;
		}

		
	}

	tbody{
		tr{ 
			text-align:center;
			td{
				vertical-align:middle!important;
				font-size:0.87em;
			}

			td:nth-child(7){

				div{
					min-width:130px;
					display:inline-block;
					background-color:$dark-blue-bg;

					@include border-radius(15px);
					padding:5px 10px;

					color:white;

					span{
						display:block;
						float:left;
					}

					.circle{
						margin-top: 2px;
						background: #f00;
					    width: 15px;
					    height: 15px;
					    @include border-radius(50%); 
					    margin-right:10px;
					}

					&.status_1 .circle{
						background-color:$status1;			    		    			
		    		}

		    		&.status_2 .circle{
						background-color:$status2;			    		    			
		    		}

		    		&.status_3 .circle{
						background-color:$status3;			    		    			
		    		}

		    		&.status_4 .circle{
						background-color:$status4;			    		    			
		    		}

		    		&.status_5 .circle{
						background-color:$status5;			    		    			
		    		}
				}				  		
	    	}    		
    	}
    }		
}


	
.partsInsert{
	.form-group{
		margin-bottom:0!important;

		.help-block{
			/*display:none;*/
		}
	}

}


.addButton{
	display:inline-block;

	margin-left:15px;
	overflow:hidden;
}
