.brandHeader{
	background-color: $dark-blue-bg;
	padding: 20px;
	color:white;
}

.brandHeader{
	.profileBox{
		text-align:right;
		padding-top: 0.5em;

		.userInfo{
			.notifications{
				float:right;
				margin-right:10px;			
				border: 1px solid $not-border;
				background-color:$not-bg;

				span{
					padding:5px;
				}
			}

			.notifications:hover{
				background-color:$not-bg-hover;
				cursor:pointer;
			}

			.userLoged{
				float:right;
				strong{
					font-style:italic;
				}
			}
		}

		a{
			display:block;
			clear:both;
			color:white;
		}
	}
}