@charset "CP850";
.printBtn a {
  display: block; }

#printEntry * {
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact; }
  #printEntry * .priceTag {
    text-align: center;
    font-weight: bold !important; }
    #printEntry * .priceTag:after {
      content: "€";
      padding-left: 5px; }
#printEntry tr td {
  padding: 2px !important;
  font-size: 1rem !important; }
#printEntry img {
  max-with: 100px; }

.header table:first-of-type tbody tr > td,
.client_data_table table:first-of-type tbody tr > td,
.repair_details_table table:first-of-type tbody tr > td,
.foote table:first-of-type tbody tr > td {
  font-size: 0.8em;
  font-weight: normal; }
  .header table:first-of-type tbody tr > td:first-child, .header table:first-of-type tbody tr > td.setTableTitle,
  .client_data_table table:first-of-type tbody tr > td:first-child,
  .client_data_table table:first-of-type tbody tr > td.setTableTitle,
  .repair_details_table table:first-of-type tbody tr > td:first-child,
  .repair_details_table table:first-of-type tbody tr > td.setTableTitle,
  .foote table:first-of-type tbody tr > td:first-child,
  .foote table:first-of-type tbody tr > td.setTableTitle {
    /*background:$dark-blue-bg!important;
    color:white!important;*/
    width: 25%;
    vertical-align: middle;
    font-weight: bold; }
.header img,
.client_data_table img,
.repair_details_table img,
.foote img {
  text-align: center;
  vertical-align: middle; }

.foote {
  position: absolute;
  bottom: 0;
  left: 0; }

.repairDesc thead tr > td {
  font-size: 0.8em;
  /*background:$dark-blue-bg!important;
  color:white!important;*/
  font-weight: bold; }
.repairDesc tbody tr > td {
  font-size: 0.8rem;
  font-weight: normal; }
.repairDesc img {
  text-align: center;
  vertical-align: middle; }

.partsInsert .listHeader {
  /*background-color:$dark-blue-bg!important;
  color:white!important;*/ }
  .partsInsert .listHeader a {
    color: white !important;
    font-weight: normal;
    font-size: 0.87em; }
  .partsInsert .listHeader td {
    font-size: 0.8em;
    /*border:none!important;*/
    text-align: center;
    /*background-color:$dark-blue-bg!important;
    color:white!important;*/
    font-weight: bold; }
.partsInsert tbody tr td {
  font-size: 0.8em;
  font-weight: normal; }

.repairTotal table tbody tr > td {
  font-size: 0.8em; }
  .repairTotal table tbody tr > td.showTotal {
    width: 70%;
    text-align: right;
    /*background-color:$dark-blue-bg!important;
    color:white!important;*/
    font-weight: bold !important; }
