@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic);
/*Fonts*/
/*Background colors*/
/*Background images*/
/*Buttons*/
/*Text colors*/
/*Border line colors*/
/*Status colors*/
body {
  font-size: 16px; }

/*ul,
li{
	margin:0;
	padding:0;
}*/
#collapseFive ul, #collapseFive li {
  padding: 0;
  margin: 0; }

*::-webkit-input-placeholder {
  font-style: italic; }

*:-moz-placeholder {
  /* FF 4-18 */
  font-style: italic; }

*::-moz-placeholder {
  /* FF 19+ */
  font-style: italic; }

*:-ms-input-placeholder {
  /* IE 10+ */
  font-style: italic; }

@media all and (max-width: 768px) {
  .profileBox {
    border-top: 1px solid white; }
    .profileBox .logoutButton {
      text-align: left;
      margin-top: 5px; }
    .profileBox .userInfo {
      float: left !important; }

  .menuContainer {
    height: auto !important; } }
body {
  font-family: Open Sans, sans-serif; }

.bigTitle {
  font-family: Arvo, sans-serif; }

.bigTitle {
  font-size: 24px;
  color: #6f7d94;
  border-bottom: 1px solid #6f7d94;
  margin-bottom: 30px; }

.sectionTitle {
  color: #414957;
  font-size: 1.5em;
  border-bottom: 1px solid #414957;
  padding-bottom: 15px;
  font-weight: bold; }

.createSubTitle {
  color: #414957;
  font-size: 1.2em;
  text-align: center;
  font-weight: bold; }

.smallSectionTitle {
  color: #414957;
  font-size: 1em;
  font-weight: bold; }

.smallDivider {
  width: 20px;
  height: 1px;
  margin: 0 auto 15px !important;
  padding: 0 !important;
  background-color: #414957;
  margin: 0 auto; }

.alert {
  padding: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); }
  .alert p {
    margin: 0; }

.overlay,
.ajaxMes {
  display: none; }

/*
----
Status Message
----
*/
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.statusBox {
  width: 100%;
  position: fixed !important;
  top: 50% !important;
  z-index: 9999;
  text-align: center;
  font-size: 0.87em;
  transform: translateY(-50%); }

.statusMessage {
  display: inline-block;
  width: auto;
  margin: 0 auto;
  font-size: 1.4em;
  text-align: center;
  padding: 5px; }

.flash-success {
  background: #e7ffe4;
  border: 2px solid #adffa2;
  color: #2b6423; }

.brandHeader {
  background-color: #414957;
  padding: 20px;
  color: white; }

.brandHeader .profileBox {
  text-align: right;
  padding-top: 0.5em; }
  .brandHeader .profileBox .userInfo .notifications {
    float: right;
    margin-right: 10px;
    border: 1px solid #7f0000;
    background-color: #b90000; }
    .brandHeader .profileBox .userInfo .notifications span {
      padding: 5px; }
  .brandHeader .profileBox .userInfo .notifications:hover {
    background-color: #7f0000;
    cursor: pointer; }
  .brandHeader .profileBox .userInfo .userLoged {
    float: right; }
    .brandHeader .profileBox .userInfo .userLoged strong {
      font-style: italic; }
  .brandHeader .profileBox .logoutButton a {
    color: white; }

.isGuest {
  background-color: #414957;
  width: 100%;
  height: 100%; }

.loginContainer {
  background-color: #414957;
  height: 100%; }
  .loginContainer .loginBox {
    border: 1px solid #b7b7b7;
    background-color: #fff;
    width: 30%;
    padding: 30px; }
    .loginContainer .loginBox .field-loginform-rememberme {
      padding-top: 15px; }

.fWidth {
  width: 100%; }

.fHeight {
  height: 100%; }

.clearAll {
  clear: both; }

.fLeft {
  float: left; }

.fRight {
  float: right; }

.midPage {
  margin: 0 auto;
  position: relative;
  top: 50%;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%); }

.clearPad {
  padding: 0 !important; }

.clearMag {
  margin: 0 !important; }

.menuBox {
  min-height: -webkit-calc(100% - 110px);
  min-height: -moz-calc(100% - 110px);
  min-height: calc(100% - 110px); }
  .menuBox .menuContainer {
    background-color: #6f7d94;
    height: 100%; }

/*MENU ICON*/
.navbar-toggle {
  background-color: white;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s; }
  .navbar-toggle.collapsed {
    background-color: #6f7d94;
    border: 1px solid white; }
    .navbar-toggle.collapsed .icon-bar {
      background-color: white; }
  .navbar-toggle .icon-bar {
    background-color: #414957; }

#leftMenu {
  height: 100%;
  background-color: #6f7d94; }
  #leftMenu .accordion-group {
    margin-bottom: 0px;
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    /*Heading*/
    /*Accordion*/ }
    #leftMenu .accordion-group .accordion-heading,
    #leftMenu .accordion-group .accordion-inner ul li {
      height: 35px;
      border-bottom: 1px solid #677489;
      list-style-type: none;
      padding: 5px;
      -webkit-transition: all 0.2s ease 0s;
      -moz-transition: all 0.2s ease 0s;
      -o-transition: all 0.2s ease 0s;
      transition: all 0.2s ease 0s; }
    #leftMenu .accordion-group .accordion-heading {
      background-color: #6f7d94;
      -webkit-box-shadow: 0px 1px 0px #899cbc;
      -moz-box-shadow: 0px 1px 0px #899cbc;
      -ms-box-shadow: 0px 1px 0px #899cbc;
      -o-box-shadow: 0px 1px 0px #899cbc;
      box-shadow: 0px 1px 0px #899cbc;
      margin-bottom: 1px; }
      #leftMenu .accordion-group .accordion-heading a {
        color: #fff;
        text-decoration: none;
        display: block;
        font-size: 1em;
        padding: 0 5px;
        line-height: 1.5em;
        position: relative; }
        #leftMenu .accordion-group .accordion-heading a span {
          padding-right: 10px; }
        #leftMenu .accordion-group .accordion-heading a .secondGliph {
          position: absolute;
          right: 0;
          top: 50%;
          -moz-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
          padding: 0; }
      #leftMenu .accordion-group .accordion-heading.active {
        background-color: #414957 !important; }
      #leftMenu .accordion-group .accordion-heading.activeTop {
        background-color: #414957 !important;
        border-top: 1px solid #899cbc; }
    #leftMenu .accordion-group .accordion-heading:hover {
      background-color: #414957; }
    #leftMenu .accordion-group .accordion-inner ul li {
      background-color: #535e71;
      -webkit-box-shadow: 0px 0px 0px #687791;
      -moz-box-shadow: 0px 0px 0px #687791;
      -ms-box-shadow: 0px 0px 0px #687791;
      -o-box-shadow: 0px 0px 0px #687791;
      box-shadow: 0px 0px 0px #687791;
      line-height: 1.5em; }
      #leftMenu .accordion-group .accordion-inner ul li a {
        display: block;
        width: 100%;
        text-decoration: none;
        color: #fff;
        font-size: 0.8em;
        padding-left: 10px; }
    #leftMenu .accordion-group .accordion-inner ul li:hover {
      background-color: #414957; }

/*TOP BUTTONS*/
a.topBtn {
  display: block;
  height: 5em;
  text-decoration: none;
  color: #424242;
  background-color: #eaeaea;
  border: 1px solid #d6d6d6;
  margin-top: 15px; }
  a.topBtn .btnEl {
    position: relative;
    top: 50%;
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%); }
    a.topBtn .btnEl div {
      display: block;
      text-align: center; }
    a.topBtn .btnEl .glyphicon {
      font-size: 1.3em; }
    a.topBtn .btnEl .bButtonTitle {
      padding-top: 15px; }
  a.topBtn:hover {
    background-color: #fcfcfc !important; }

.deleteBtn {
  margin-bottom: 15px; }

.repairsGrid .listHeader, .partsInsert .listHeader {
  background-color: #414957;
  color: white; }
  .repairsGrid .listHeader a, .partsInsert .listHeader a {
    color: white;
    font-weight: normal;
    font-size: 0.87em; }
  .repairsGrid .listHeader th, .partsInsert .listHeader th {
    border: none !important;
    text-align: center; }
.repairsGrid tbody tr, .partsInsert tbody tr {
  text-align: center; }
  .repairsGrid tbody tr td, .partsInsert tbody tr td {
    vertical-align: middle !important;
    font-size: 0.87em; }
  .repairsGrid tbody tr td:nth-child(7) div, .partsInsert tbody tr td:nth-child(7) div {
    min-width: 130px;
    display: inline-block;
    background-color: #414957;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    padding: 5px 10px;
    color: white; }
    .repairsGrid tbody tr td:nth-child(7) div span, .partsInsert tbody tr td:nth-child(7) div span {
      display: block;
      float: left; }
    .repairsGrid tbody tr td:nth-child(7) div .circle, .partsInsert tbody tr td:nth-child(7) div .circle {
      margin-top: 2px;
      background: #f00;
      width: 15px;
      height: 15px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      margin-right: 10px; }
    .repairsGrid tbody tr td:nth-child(7) div.status_1 .circle, .partsInsert tbody tr td:nth-child(7) div.status_1 .circle {
      background-color: #8db4e3; }
    .repairsGrid tbody tr td:nth-child(7) div.status_2 .circle, .partsInsert tbody tr td:nth-child(7) div.status_2 .circle {
      background-color: #fac090; }
    .repairsGrid tbody tr td:nth-child(7) div.status_3 .circle, .partsInsert tbody tr td:nth-child(7) div.status_3 .circle {
      background-color: yellow; }
    .repairsGrid tbody tr td:nth-child(7) div.status_4 .circle, .partsInsert tbody tr td:nth-child(7) div.status_4 .circle {
      background-color: #92d050; }
    .repairsGrid tbody tr td:nth-child(7) div.status_5 .circle, .partsInsert tbody tr td:nth-child(7) div.status_5 .circle {
      background-color: #7f7f7f; }

.partsInsert .form-group {
  margin-bottom: 0 !important; }
  .partsInsert .form-group .help-block {
    /*display:none;*/ }

.addButton {
  display: inline-block;
  margin-left: 15px;
  overflow: hidden; }

.repairFields {
  margin: 0 !important; }
  .repairFields .sectionTitle {
    padding-left: 0 !important; }
  .repairFields form {
    /*ACCESSORIES ERROR BOX*/
    /*OTHER ACCESSORIES DESC*/ }
    .repairFields form .required label:after {
      content: "*";
      width: 10px;
      height: 10%; }
    .repairFields form .form-control {
      border-radius: 0 !important; }
    .repairFields form div {
      /*padding-left: 0!important;*/
      padding-bottom: 0.3em; }
      .repairFields form div label {
        font-size: 1em;
        color: #424242;
        /*font-weight:bold;*/
        /*font-style:italic;*/
        font-weight: normal; }
      .repairFields form div .checkboxList label {
        font-weight: normal !important;
        font-style: normal !important;
        font-size: 0.9em; }
      .repairFields form div input:not(.newClient), .repairFields form div select, .repairFields form div textarea {
        background-color: #fcfcfc; }
    .repairFields form .field-accessories-id_accessories > .help-block {
      display: none; }
    .repairFields form .field-repairaccessory-otherdesc, .repairFields form .field-repairaccessory-otherdesc label {
      display: none; }
    .repairFields form .pageButtons {
      padding-top: 15px; }
      .repairFields form .pageButtons button {
        margin-right: 30px; }
    .repairFields form .normalType {
      margin-bottom: 15px; }
      .repairFields form .normalType .row {
        box-sizing: border-box;
        margin: 0 !important;
        background-color: #eaeaea; }
        .repairFields form .normalType .row .maxBudget {
          padding: 15px 15px 0 !important; }
        .repairFields form .normalType .row .wantMaxBox input {
          margin-right: 10px; }
      .repairFields form .normalType:before {
        content: "";
        position: absolute;
        top: -15px;
        left: 35px;
        border-style: solid;
        border-width: 0 15px 15px;
        border-color: #eaeaea transparent;
        display: block;
        width: 0;
        z-index: 0; }
    .repairFields form .accessoriesListing {
      padding-left: 0 !important;
      padding-right: 0 !important; }
      .repairFields form .accessoriesListing .required label {
        display: none; }
  .repairFields .form-control[disabled], .repairFields .form-control[readonly], .repairFields fieldset[disabled] .form-control {
    background-color: #ddd !important;
    color: #aaa;
    font-style: italic; }

/* highlight results */
.ui-autocomplete span.hl_results {
  background-color: #ffff66; }

/* loading - the AJAX indicator */
.ui-autocomplete-loading {
  background: white url("../img/ui-anim_basic_16x16.gif") right center no-repeat; }

/* scroll results */
.ui-autocomplete {
  max-height: 250px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  /* add padding for vertical scrollbar */
  padding-right: 5px; }

.ui-autocomplete li {
  font-size: 16px; }

/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
  height: 250px; }
