@mixin border-radius($radius){
	-webkit-border-radius: $radius;
	  -moz-border-radius: $radius;
	    -ms-border-radius: $radius;
	      -o-border-radius: $radius;
	         border-radius: $radius;
}

@mixin box-shadow($x, $y, $spread, $color){
	-webkit-box-shadow: $x $y $spread $color;
	  -moz-box-shadow: $x $y $spread $color;
	   -ms-box-shadow: $x $y $spread $color;
	     -o-box-shadow: $x $y $spread $color;
	        box-shadow: $x $y $spread $color;	
}

@mixin white-box(){
	border: 1px solid #b7b7b7;
	background-color:#fff;
}

@mixin transition($prop, $time, $timing, $delay){
	-webkit-transition:$prop $time $timing $delay;
	   -moz-transition:$prop $time $timing $delay;
	     -o-transition:$prop $time $timing $delay;
	        transition:$prop $time $timing $delay;
}

@mixin translate($x, $y){
	-moz-transform:  translate($x,$y);
	  -ms-transform:  translate($x,$y);
	    -webkit-transform:  translate($x,$y); 
	      transform: translate($x,$y);
}

@mixin background-gradient($deg, $color1, $percent1, $color2, $percent2){
	background-image: -moz-linear-gradient($deg, $color1 $percent1, $color2 $percent2); /* gradient overlay */
    background-image: -o-linear-gradient($deg, $color1 $percent1, $color2 $percent2); /* gradient overlay */
    background-image: -webkit-linear-gradient($deg, $color1 $percent1, $color2 $percent2); /* gradient overlay */
    background-image: linear-gradient($deg, $color1 $percent1, $color2 $percent2); /* gradient overlay */
}

@mixin calc($key, $value) {
  #{$key}: -webkit-calc(#{$value});
  #{$key}: -moz-calc(#{$value});
  #{$key}: calc(#{$value});
}

@mixin min-calc($key, $value) {
  min-#{$key}: -webkit-calc(#{$value});
  min-#{$key}: -moz-calc(#{$value});
  min-#{$key}: calc(#{$value});
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}