@mixin border-radius($radius){
	-webkit-border-radius: $radius;
	  -moz-border-radius: $radius;
	    -ms-border-radius: $radius;
	      -o-border-radius: $radius;
	         border-radius: $radius;
}

@mixin box-shadow($x, $y, $spread, $color){
	-webkit-box-shadow: $x $y $spread $color;
	  -moz-box-shadow: $x $y $spread $color;
	   -ms-box-shadow: $x $y $spread $color;
	     -o-box-shadow: $x $y $spread $color;
	        box-shadow: $x $y $spread $color;	
}

@mixin white-box(){
	border: 1px solid #b7b7b7;
	background-color:#fff;
}

@mixin translate($x, $y){
	-moz-transform:  translate($x,$y);
	  -ms-transform:  translate($x,$y);
	    -webkit-transform:  translate($x,$y); 
	      transform: translate($x,$y);
}

