/*Fonts*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
$font1: Open Sans, sans-serif;

@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic);
$font2: Arvo, sans-serif;

/*Background colors*/
$dark-blue-bg: #414957;
$menu-item-bg:#6f7d94;
$dropMenu-item-bg:#535e71;

/*Background images*/
$brand-logo: url('../img/logo.jpg') no-repeat;

/*Buttons*/
$shadow-color: rgba(0, 0, 0, .2);
$text-color: #424242;
$topBtn-bg-color:#eaeaea;
$topBtn-bg-active-color:#fcfcfc;
$topBtn-border-color:#d6d6d6;

$danger-btn: #d9534f;
$danger-btn-border: #d43f3a;
$danger-btn-hover: #c9302c;
$danger-btn-border-hover: #ac2925;

/*Text colors*/
$big-title-color: #6f7d94;
$section-title-color:#414957;

/*Border line colors*/
$menuB-first-line:#677489;
$menuB-second-line:#899cbc;
$menuDrop-second-line:#687791;

$not-border:#7f0000;
$not-bg:#b90000;
$not-bg-hover:#7f0000;

/*Status colors*/
$status1: #8DB4E3;
$status2: #FAC090;
$status3: #FFFF00;
$status4: #92D050;
$status5: #7F7F7F;
