@media all and (max-width: 768px){
  .profileBox {
    .logoutButton{
    	text-align:left;
        margin-top:5px;
    }

    border-top:1px solid white;

    .userInfo{
    	float:left!important;
    }
  }

  .menuContainer{
        height:auto!important;
    }


}